{% extends '_base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Sign Up</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign Up</button>
</form>

<!-- Add social auth buttons -->
{% load socialaccount %}

<form method="post" action="{% provider_login_url 'github' %}">
    {% csrf_token %}
    <input type="submit" value="Login with Github">
</form>

<form method="post" action="{% provider_login_url 'google' %}">
    {% csrf_token %}
    <input type="submit" value="Login with Google">
</form>

{% endblock %}