{% extends "_base.html" %}

{% block content %}

<form id="cardForm" method="post">
    {% csrf_token %}
    {{ card_form.as_p }}
    <button type="submit">Create Card</button>
</form>

<div id="validation-errors-card" style="color: red;"></div>

<form id="deckForm" method="post">
    {% csrf_token %}
    {{ deck_form.as_p }}
    <button type="submit">Create Deck</button>
</form>

<div id="validation-errors-deck" style="color: red;"></div>


{% comment %} 
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('#deckForm').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'cards:create_deck' %}",
                type: 'POST',
                data: $(this).serialize(),
                success: function(data) {
                    if (data.deck_id) {
                        $('#validation-errors-deck').html(''); // Clear the #validation-errors div
                        $('#id_decks').append(new Option(data.deck_name, data.deck_id, true, true));
                    } else if (data.error) {
                        var errorMessage = '';
                        console.log(`meow2 errorData: ${typeof data.error}`);
                        if (typeof data.error === 'string') {
                            // If the error is a string
                            var errorData = JSON.parse(data.error);
                            errorMessage = errorData['__all__'][0].message;
                            console.log(`meow2 errorData: ${errorData}`);


                        // Just display the error message as it is
                        $('#validation-errors-deck').html(data.error);
                    } else {
                        $('#validation-errors-deck').html(''); // Clear the #validation-errors div
                    }
                }
            });
        });
    });    
</script>

<script>
    $(document).ready(function() {
        $('#cardForm').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'cards:create_card' %}",
                type: 'POST',
                data: $(this).serialize(),
                success: function(data) {
                    if (data.card_id) {
                        console.log("meow1")
                        $('#validation-errors-card').html(''); // Clear the #validation-errors div
                        $('#id_cards').append(new Option(data.card_name, data.card_id, true, true));
                    } else if (data.error) {
                        var errorMessage = '';
                        if (typeof data.error === 'string') {
                            // If the error is a string
                            var errorData = JSON.parse(data.error);
                            errorMessage = errorData['__all__'][0].message;
                            console.log(`meow2 errorData: ${errorData}`);
                            console.log(`meow2 errorMessage: ${errorMessage}`);
                        } else {
                            // If the error is a dictionary
                            var errors = JSON.parse(data.error);
                            console.log("meow3")
                            for (var error in errors) {
                                errorMessage += errors[error][0].message + '<br>';
                            }
                        }
                        $('#validation-errors-card').html(errorMessage);
                    } else {
                        $('#validation-errors-card').html(''); // Clear the #validation-errors div
                    }
                }
            });
        });
    });
    
</script> {% endcomment %}
{% endblock %}
