{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Card List</title>
</head>
<body>
    {% comment %} <script src="{% static 'cards/user_card_update_notification.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'cards/card_list_new_card_update.js' %}"></script> {% endcomment %}
    <script src="{% static 'cards/card_list_new_card_update_v2.js' %}"></script>
    <script src="{% static 'cards/bfcache_page_reload.js' %}"></script>
    <h1>Card List</h1>
    <ul id="card-list">
        {% for card in cards %}
            <li data-id="{{ card.pk }}">
                <a href="{% url 'cards:card_detail' card.pk %}" class="card_name">{{ card.card_name }}</a>:
                {% if card.system_defined_tags.all %}
                    <span class="category">
                        <span class="category-value">
                            {% for tag in card.system_defined_tags.all %}
                                 {{ tag.tag_name }}
                                 {% if not forloop.last %}, {% endif %} 
                                 {% comment %}  to add a comma between multiple tags but not after the last tag to ensure proper formatting. {% endcomment %}
                            {% endfor %}
                        </span>
                    </span>
                {% endif %}
                {% if card.card_content_system_generated %}
                    <span class="actions">
                        <a href="{% url 'cards:delete_card' card.pk %}" class="delete-link" onclick="return confirm('Are you sure you want to delete the card {{ card.card_name }}?')"> Delete </a>
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cards:create_card' %}">Create New Card</a>
</body>

</html>
