<!DOCTYPE html>
<html>
<head>
    <title>Create Card</title>
</head>
<body>

    <h2>Create a New Deck</h2>
    <form method="post">
        {% csrf_token %}
        {{ card_deck_creation_form.deck_name.label_tag }}: 
        <input type="text" name="{{ card_deck_creation_form.deck_name.name }}" id="{{ card_deck_creation_form.deck_name.id }}">
        <button type="submit">Create Deck</button>
    </form>


    <h1>Create Card</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == 'info' %}
                    <li>{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% if form.decks %}
            {{ form.decks.label_tag }}: {{ form.decks }}
            <p>Select one or more existing decks.</p>
        {% else %}
            <p>{{ form.default_deck_message }}</p>
        {% endif %}

        {{ form.card_name.label_tag }}: {{ form.card_name }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'cards:card_list' %}">Back to Card List</a>
</body>
</html>
